
model/data.csv
*.pyc
data/data.csv
data/data.zip
*.pyc
*.csv
*.pyc
*.pyc
model/__pycache__/UserItem_rmse.cpython-310.pyc
*.pyc
parser/secrets_data/login
parser/secrets_data/password
model/__pycache__/UserItem_rmse.cpython-310.pyc
